{% extends 'base.html' %}
{% block title %} Games Universe {% endblock %}

{% block content %} 

<div class="home-container">
    <div class="game-card">
        <h1>🔥Trending Games🔥</h1>
        <ul>
            <li>Halo Infinte</li>
            <li>Warzone</li>
            <li>Valorant</li>
            <li>Fortnite</li>
        </ul>
    </div>
    <div class="game-card">
        <h1>&#128053; Forums &#128053;</h1>
        <h2>Latest discussions from our community:</h2>
        <p>Still on work...</p>
    </div>

    <div class="game-card">
        <h2>🎮Creators🎮</h2>
        <ul>
            <li>Luis Chavez</li>
            <li>Francisco Izaguirre</li>
            <li>Omar Villalobos</li>
        </ul>
    </div>
</div>


<span></span>

{% endblock %}